* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .column {
    float: left;
    display: flex
    padding: 0.5px;
    margin: 15px;
    flex-wrap: wrap
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    clear: both;
    gap: 20 px;
    padding: 12px;
  }